// reset清除html标签的默认样式
@import "./reset.scss";

// 引入fonticon字体库
@import "../../fonts-icons/fonts.css";
// 定义默认参数
$defaultTextColor:#2D4054;
$defaultTextHoverColor:#00B4CF;
$fontSize:14px !default;

// 使用函数动态的将ucd上的px换成rem实现自适应布局
@function px2rem($px){
    $rem: 8.4;
    @return ($px/$rem) + rem;
}

// 媒体查询
@media screen  and (min-width:1200px){
    @import './desktop_hd.scss';
}

@media screen  and (min-width:1024px) and (max-width:1199px){
    @import './desktop.scss';
}

@media screen  and (min-width:769px) and (max-width:1023px){
    @import './tablet.scss';
}

@media screen  and (max-width:768px){
    @import './phone.scss';
}



// 设置html和body全屏幕
html,body{
    height: 100%;
    width: 100%;
    color:$defaultTextColor;
    .container{ // 整个页面的container
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        width: 100%;
        background-color: #E1E4E6;
        footer{
            text-align: center;
            height: px2rem(15);
            line-height: px2rem(15);
            width: 100%;
            flex: 0 0 px2rem(15);
            background-color: #fff;
            font-size: px2rem(7);
        }
    }
}

// 设置登陆的下拉菜单
.iconAngelDown{
    align-self: center;
    &::after{
        font-family:"cruise";
        content:"\f107";
        font-size: px2rem(8);
        height: 100%;
        line-height: 100%;
        color:#435466;
    }
    li{
        &:hover{
            background-color: #efefef;
        }
    }
    span{
        &:hover{
            color:$defaultTextHoverColor;
        }
    }
    .userFile{
        &::after{
            font-family:"cruise";
            content:"\f2c3";
            font-size: px2rem(8);
            height: 100%;
            line-height: 100%;
            color:#435466;
        }
    }

    .logout{
        &::after{
            font-family:"cruise";
            content:"\f090";
            font-size: px2rem(8);
            height: 100%;
            line-height: 100%;
            color:#435466;
        }
    }
}

.login{
    position: absolute;
    width: px2rem(60);
    height: px2rem(30);
    box-shadow: 1px 1px 2px;
    top: px2rem(20);
    right: px2rem(1.5);
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    li{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

