 // 主体部分，左侧aside是导航，右侧是人物显示
 header{ // cruise表头
    flex: 0 1 px2rem(35);
    width: 100%;
    height:px2rem(35);
    background-color: #f3f3f3;
    display: flex;
    align-items: center;

    .iconAngelDown{
        align-self: center;
        &::after{
            font-family:"cruise";
            content:"\f107";
            font-size: px2rem(8);
            height: 100%;
            line-height: 100%;
            color:#435466;
        }
    }

    .asideShow{
        display: block;
        margin-left:px2rem(12);
        &::after{
           font-family:"cruise";
           font-size:px2rem(8);
           content:'\f0c9';
       }
    }
    // 标头中间的svg图表
    .logoSvg{
        position: relative;
        height:px2rem(21);
        width: 100%;
        display: block;
        margin: auto;
        background: url('../../logo/logo.svg');
        background-size: 100% 100%;
    }

    // 登陆的logo和下啦菜单
    .headerLogin{
        position: absolute;
        right: px2rem(10);
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 100%;
    }

    .loginPic{
        height: px2rem(20);
        width: px2rem(20);
        border-radius: px2rem(10);
        background: url('../img/login.png');
        background-size: 100% 100%;
        margin-right:px2rem(7.5);
    }
}


 main{
    flex: 1 1 px2rem(15);
    display: flex;
    width: 100%;
    aside{
        width: px2rem(135);
        background-color: #2D4054;
        display: none;
        flex-flow: column nowrap;
        justify-content: space-between;
    
        .aside-nav {
            margin-top: px2rem(7.5);
            li{
                height: px2rem(22.5);
                line-height: px2rem(22.5);
                color:#ccc;
                padding-left:px2rem(15);
                span{
                    height: 100%;
                    line-height: 100%;
                }
                .icon{
                    margin-right:px2rem(7.5);
                    font-size: px2rem(10);
                }
                 &:hover{
                    background-color: #435466;
                    color:#00B4CF;
                }
            }
        }

        // 历史纪录 text-overflow:ellipise省略号
        .aside-list{
            padding: 0 px2rem(7.5);
            span{
                font-size: px2rem(12);
                color:#ccc;
                margin-left: px2rem(5);
            }
             ul{
                list-style-type: disc;
                padding:px2rem(3);
             }
            li{
                list-style-type: disc;
                font-size: px2rem(6);
                color:#999;
                height: px2rem(9);
                line-height: px2rem(9);
                padding-left: px2rem(3);
                margin-top:px2rem(3);
                margin-bottom:px2rem(3);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                text-align: justify;
                &:hover{
                    color:#00B4CF;
                }
            }
        }
    }

    // 进度主图
    section{
        margin:px2rem(8);
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        //表头的三个panel
        .infoHeader{
            flex:auto;
            display: flex;
            justify-content: space-between;
            height: px2rem(58);
            width: 100%;
            span{
                display: inline-block;
            }
            div{
                display: inline-block;
                width: px2rem(135);
                height: 100%;
            }
            .buildingPanel{
                flex: auto;
                color:#f3f3f3;
                background-color: #FF9A2A;
                text-align: center;
                display: flex;
                justify-content: space-between;
                .buildingText{
                    font-size: px2rem(12);
                    padding-top: px2rem(12);
                    font-weight: bold;
                }
                .buildingCount{
                    font-size: px2rem(24);
                    align-self: flex-end;
                    margin:0 px2rem(7.5) px2rem(7.5) 0;
                }
            }
            .buildingLogo{
                flex:auto;
                animation:2s linear myrotate infinite;
                @keyframes myrotate{
                    form {transform:rotate(0deg);}    
                    to    {transform:rotate(360deg);}
                }
                &::after{
                    height:100%;
                    width:100%;
                    font-family:"cruise";
                    content:"\f013";
                    font-size: px2rem(42);
                    color:#f3f3f3;
                    opacity: .2;
                }
            }
            .idlePanel{
                flex:auto;
                color:#f3f3f3;
                display: flex;
                justify-content: space-between;
                text-align: center;
                background-color:#7FBC39;
                .idleText{
                    font-size: px2rem(12);
                    padding-top: px2rem(12);
                    font-weight: bold;
                }
                .idleLogo{
                    &::after{
                        font-family:"cruise";
                        content:"\f0f4";
                        font-size: px2rem(42);
                        opacity: .2;
                        height: 100%;
                        line-height: 100%;
                        color:#f3f3f3;
                    }
                }
                .idleCount{
                    font-size: px2rem(24);
                    align-self: flex-end;
                    margin:0 px2rem(7.5) px2rem(7.5) 0;
                }
            }

            .totalPanel{
                flex: auto;
                color:#000;
                display: flex;
                justify-content: space-around;
                background-color: #fff;
                .totalTitle{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    span{
                        display: inline-block;
                        width: px2rem(28);
                        font-size:px2rem(6);
                        text-align: center;
                    }
                }
                .totalNumber{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    span{
                        text-align: center;
                        display: inline-block;
                        width: px2rem(28);
                        font-size: px2rem(10);
                    }
                }
            }
        }
           // 条件过滤panel
           .infoFilter{
               margin-top: px2rem(8);
            ul{
                display: flex;
                line-height: px2rem(25);
                height: px2rem(25);
                background-color: #E1E4E6;
                li{
                    font-size: px2rem(7);
                    text-align: center;
                    display: inline-block;
                    width: px2rem(42);
                    margin-right: 0;
                    background-color: #f3f3f3;
                    span{
                        &:hover{
                            color:#00b4cf;
                        }
                    }
                }
                .searchContainer{
                    flex: auto;
                    position: relative;
                    width:px2rem(300);
                }
            }

            .activeLi{
                border-bottom:3px solid #00B4CF;
            }
            .searchContainer{
                display: inline-block;
            }
            .searchFilter{
                position: absolute;
                left:px2rem(15);
            }
            .searchInput{
                height: px2rem(12);
                width: px2rem(86);
                background-color: #e3e1e4;
                outline: none;
            }
            .searchIcon{
                position: absolute;
                left:px2rem(5);
                &::after{
                    font-family:"cruise";
                    font-size:px2rem(10);
                    content:'\f002';
                }
            }

            .cardIcon{
                position: absolute;
                right:px2rem(32);
                &::after{
                    font-family:"cruise";
                    font-size:px2rem(10);
                    content:'\f00a';
                }
            }

            .listIcon{
                position: absolute;
                right:px2rem(13);
                &::after{
                    font-family:"cruise";
                    font-size:px2rem(8);
                    content:'\f00b';
                }
            }
            .clear::after{
                display: block;
                content: '.';
                visibility: hidden;
            }
            
        }
            // 进度
            .mainSection{
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                margin-top: px2rem(8);
                .sectionItem{
                    // logo公共样式
                    @mixin logoStyle($url){
                        display:inline-block;
                        height: px2rem(40);
                        width: 7%;
                        background: url($url);
                        background-size: 100% 100%;
                    }
                    position:relative;
                    height: px2rem(55);
                    background-color: #f3f3f3;
                    margin-bottom:px2rem(10);
                    .windowLogo{
                       @include logoStyle('../img/windows.png');
                    }
                    .ubuntuLogo{
                        @include logoStyle('../img/ubuntu.png');
                    }
                    .debinLogo{
                        @include logoStyle('../img/debin.png');
                    }
                    .suseLogo{
                        @include logoStyle('../img/suse.png');
                    }
                    .centLogo{
                        @include logoStyle('../img/cent_os.png');
                    }
                    .sectionDetails{
                        display:inline-block;
                        position:absolute;
                        height:100%;
                        width:93%;
                        .infoBlock{
                            margin-left:px2rem(10);
                        }
                        @mixin icon($iconCode){
                            font-family:'cruise';
                            content:$iconCode;
                            font-size:px2rem(7);
                        }
                        .sectionInfo{
                            height:50%;
                            margin-top:px2rem(6);
                            span{
                                &:hover{
                                    color:$defaultTextHoverColor;
                                }
                            }
                        }

                        .sectionOperation{
                            height:50%;
                            position: relative;
                            bottom: px2rem(2);
                            .operationbg{
                                background-color: #e1e4e6;
                            }
                            span{
                                &:hover{
                                    color:$defaultTextHoverColor;
                                }
                            }
                        }
                        .desktopIcon{
                            &::after{
                                @include icon('\e30c');
                            }
                        }
                        .taskStatus{
                            background-color:#FF9A2A;
                        }
                        .hintIcon{
                            &::after{
                                @include icon('\e88f');
                            }
                        }
                        .folderIcon{
                            &::after{
                                @include icon('\e2c8');
                            }
                        }
                        .addIcon{
                            display: inline-block;
                            background-color: #00b4cf;
                            width: px2rem(20);
                            height: px2rem(12);
                            line-height: px2rem(12);
                            text-align: center;
                            &::after{
                                color:#f3f3f3;
                                @include icon('\f067');
                                font-size: px2rem(9);
                            }
                        }
                        .deleteIcon{
                            &::after{
                                @include icon('\f014');
                            }
                        }
                        .denyButton{
                            position: absolute;
                            height: px2rem(15);
                            right:px2rem(5);
                            background-color: #00b4CF;
                            color:#f3f3f3;
                            .denyIcon{
                                &::after{
                                    @include icon('\e611');
                                }
                            }
                        }
                    }
                }
            }
    }
}